frontend/node_modules/
frontend/dist/
frontend/.vite/
*.vscode/
.idea/
.DS_Store
Thumbs.db
*.sublime-workspace
*.sublime-project
*.iml/

backend/bin/
backend/*.exe
backend/*.out
backend/*.test
backend/tmp/
*.log
*.tmp
*.swp
vendor/
*.cover
*.cov
