frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env
*.vscode/
.idea/
.DS_Store
Thumbs.db
*.sublime-workspace
*.sublime-project
*.iml/

backend/bin/
backend/.env
backend/*.exe
backend/*.out
backend/*.test
backend/tmp/
backend/target/
*.log
*.tmp
*.swp
vendor/
*.cover
*.cov

fafo-backend/target